#avatars-box .avatar-image{
    width:80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    background-color:white;
    cursor: pointer;
    position: relative; 
    box-sizing: content-box;
}
#avatars-box {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 270px!important;
    justify-content: center;
    
}
#selected-avatar{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    color: greenyellow;
    background-color: rgba(0, 0, 0, 0.548);
    
}

#avatars-box::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}
#avatars-box::-webkit-scrollbar-thumb{
    background-color: rgb(150, 150, 150);
    border-radius: 2.5px;
}
#tick{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 30px;
    width: 30px;
}
.av-wrapper::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.596);
   
}
#avatars-box .avatar-image:hover{
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
    

}