#loader-page{
  height: 100vh;
  width: 100vw;
  background-color: white;
  flex-direction: column;
  padding-bottom: 1rem;
}
#main-logo-section {
  flex: 1;
}
#main-logo-section img {
  height: 80px;
}
#main-logo-text-section {
  text-align: center;
  
}
#loader-page p {
  text-align: center;
  font-size: 1rem;
  margin-top: 14px;
  color: rgb(145, 145, 145);
}
#loader-box {
  width: 60px;
  aspect-ratio: 1;
}

@media screen and (max-width:480px) {
  
  #main-logo-text-section img{
    height: 40px;
  }
}