
#caption{
    width: 100%;
    height: fit-content;
    position: relative;
    bottom: 0px;
    left: 0px;
    background-color: whitesmoke;
    min-height: 80px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    z-index: 2;
}
.emoji-picker{
    position: absolute;
    bottom: -18px;
    z-index: 1;
    transition: 0.2s linear;
      
}
#caption-input{
    height: 42px;
    display: flex;
    width: calc(100% - 100px);
    font-size: 1rem;
    padding: 10px;
    padding-top: 12px;
    font-weight: lighter;
    font-family: sans-serif;
    color: rgb(63, 63, 63);
    border-radius: 6px;
    resize: none;
    background-color: white;
    align-items: center;
    border: none;
   
}
#emoji-btn-main{
    
    height: 26px;
    border-radius: 50%;
    font-size: 26px;
    color: rgb(119, 119, 119);
    background-color: transparent;
    margin: 10px;
    
}
#caption-input::-webkit-scrollbar{
    display: none;
}
#caption-input::placeholder{
    color: rgb(170, 170, 170);
    font-size: 1rem;
    font-weight: 100;
    
}
#caption-input:focus{
    outline: none;
}
#word-counter{
    text-align: right;
}
#post-btn{
    margin: 10px;
    background-color: transparent;
    filter: contrast(120%);
    transition: 0.2s ease-in-out;
}
#edit-btn{
    margin: 10px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
}
#post-btn:disabled{
    opacity: 0.5;
}