#home-skeleton {
  height: 100vh;
  flex: 1;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  gap: 10px;
}
#home-skeleton > div {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgba(219, 219, 219, 0.5);
  }
  100% {
    background-color: rgb(219, 219, 219);
  }
}
@media only screen and (max-width: 480px){
    #home-skeleton{
      height: calc(100vh - 111px);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    #home-skeleton > div{
      min-height: 200px;
    }
}
