#menu-wrapper {
  z-index: 6;
}
#menu {
  max-width: 400px;
  height: fit-content;
  width: calc(100vw - 20px);
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  animation: menu-animation 0.2s ease-out 0s forwards;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1px;

  
}
#menu .loading{
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  display: flex;
  background-color: rgba(201, 201, 201, 0.705);
  align-items: center;
  justify-content: center;
}
#menu .share-options{
  width: 100%;
  background-color:white;
  display: flex;
  flex-direction: column;
}
#menu .share-options button{
  color: rgb(65, 65, 65);
}
#menu .loading img{
  height: 50px;
  width: 50px;
}
#menu button{
    padding: 10px;
    font-size: 0.95rem;
    background-color: white;
}
.menu-btn.danger {
  color: #c90000;
}

@keyframes menu-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
