.do-comment{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    gap: 0.5rem;
   
}
.do-comment > section{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.do-comment >section:first-child{
    flex: 1;
}
.do-comment .post-comment-button{
    color: rgb(0, 88, 160);
    font-weight: bold;
    &:hover{
        text-decoration: underline;
    }
}

.do-comment .comment-input{
    flex: 1;
    padding: 0.6rem;
    border: none;
    font-size: 0.9rem;
}
.do-comment .comment-input::placeholder{
    color: rgb(204, 204, 204);
}
.do-comment .emoji-popup {
    position: absolute;
    top: 0px;
    right: 50px;
    height: 450px;
    width: 350px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1rem;
    z-index: 2;
  }
  .do-comment .emoji-button{
    color: rgb(66, 66, 66);
    cursor: pointer;
    position: relative;
    &:hover{
        color: rgb(92, 92, 92);
    }
  }
  @media  screen and (max-width:768px) {
    .do-comment .emoji-button{
        
        display: none;
      }
    
  }
