#suggestion-box{
    flex: 0.5;
    margin-top: 72px;
    height: fit-content;
    padding: 20px;
    margin-left: 10px;
    padding-top: 0px;
}
#suggestion-box p{
    margin: 10px 0px;
    color: gray;
    margin-top: 15px;
}
#filter-box{
    height: 40px;
    width: 130px;
    position: relative;
    /* border: 1px solid lightgray; */
    font-size: 1rem;
    background-color: rgb(231, 231, 231);
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(to right,rgb(0, 102, 185),skyblue);
    color: #e9f7ff;
}
#funnel{
    height: 1.5rem;
}
#filter-box span{
    margin-right: 5px;
}
#filter-modal{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    top: 45px;
    left: 0px;
    animation: filter-animation 0.2s;
    transform-origin: 20px 20px ;
    border-radius: 8px;
    overflow: hidden;
}
#filter-modal span{
    display: block;
    height: 20px;
    aspect-ratio: 1/1;
    margin: 10px;
}
@keyframes filter-animation {
    0%{
        transform:scale(0);
    }
    
    100%{
        transform: scale(1);
    }
  }
#filter-modal button{
    display: flex;
    height: 40px;
    width: 200px;
    color: black;
    background-color: white;
    border-bottom: 1px solid lightgray;
    justify-content: flex-start;
    align-items: center;
}