#edit-profile-page{
    display: flex;
    justify-content: center;  
    height: 100%; 
}
#edit-profile-page-content{
    display: flex;
    flex: 0.7;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: white;
    position: relative;   
}
#edit-profile-page-content h1{
    margin: 20px 0px;
}
#edit-profile-page-content > section{
    min-height: 40px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}
#edit-profile-page-content .button-section{
    flex-direction: row;
    gap: 10px;
}
#edit-profile-page-content  .profile-image-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 20px 20px;
}
#edit-profile-page-content .profile-image{
    height: 70px;
    width: 70px;
    border-radius: 35px;
    background-color: gray;
    overflow: hidden;

}
#edit-profile-page-content .profile-username{
    position: relative;
}
#edit-profile-page-content #username-loader{
    position: absolute;
    top: 40px;
    right: 5px;
    height: 32px;
    width: 32px;
    padding: 5px;
}
#edit-profile-page-content > section input[type='text']
{
    border: 1.5px solid rgb(216, 216, 216);
    padding: 10px;
    border-radius: 5px;
}
#edit-profile-page-content > section label{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 6px;
}
#edit-profile-page-content > section p{
    font-size: 0.8rem;
    margin-top: 5px;
    color: rgb(78, 78, 78);
}
#edit-profile-page-content > section .success-username{
    color: rgb(0, 143, 0);
    font-weight: bold;
}
#edit-profile-page-content > section .error-username{
   
    color: rgb(177, 0, 0);
    font-weight: bold;
}
#edit-profile-page-content > section #bio{
    resize: none;
    padding: 10px;
    border-radius: 5px;
    font-family: inherit;
    border: 1.5px solid rgb(216, 216, 216);
    
    height: 100px;
}
#edit-profile-page-content > .profile-bio{
    position: relative;
}
#edit-profile-page-content > .profile-bio span{
    position: absolute;
    right:20px;
    top: 15px;
    font-size: 0.8rem;
}
#edit-profile-page-content .private-account-box
{
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-between;
}
#edit-profile-page-content #update-profile-button{
    width: fit-content;
    
}
#profile-update-cancel-button{
    background-color: rgb(255, 215, 215);
    color: darkred;
    padding: 10px 15px;
    width: fit-content;
    border-radius: 5px;
}
#profile-update-cancel-button:hover{
    background-color: rgb(255, 187, 187);
}
@media screen and (max-width:768px) {
    #edit-profile-page-content{
        
        flex: 1;
        
        
    }
}