.user-box{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-box >div{
    display: flex;
    gap: 10px;
}
.user-box:hover{
    background-color: whitesmoke;
}
.user-box .user-profile-photo{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: gray;
    flex-shrink: 0;
    overflow: hidden;
}
.user-box .user-action{
    font-weight: bold;
    font-size: 0.8rem;
    color: rgb(25, 179, 226);
}
.user-box .user-name-button{
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(83, 83, 83);
}
.user-box button:hover{
    color: var(--primary-color);
}