#profile-nav{
   outline: 1px solid rgb(233, 233, 233);
}
#profile-nav-container{
    width: 100%;
    max-width: 400px;
    display: flex;
    margin: auto;
}
#profile-nav-container > a{
    flex: 1;
    text-align: center;
    padding: 10px ;
    color: rgb(43, 43, 43);
    
}
#profile-nav-container > a:hover{
    text-decoration: none;
}
#profile-nav-container > a.active{
    border-bottom: 2px solid rgb(66, 66, 66);
}
