#profile-nav{
   border-top: 1px solid rgb(233, 233, 233);
   border-bottom: 1px solid rgb(233, 233, 233);
}
#profile-nav-container{
    width: 100%;
    max-width: 200px;
    display: flex;
    margin: auto;
}
#profile-nav-container a{
    flex: 1;
    justify-content: center;
    padding: 10px 25px;
    color: #868686;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    position: relative;
        
}
#profile-nav-container  a.active{
    font-weight: bold;
    color: black;
}
#profile-nav-container > a:hover{
    text-decoration: none;
    color: rgb(24, 24, 24);
}
#profile-nav-container  a.active::after{
    content: "";
    border-bottom: 2px solid black;
    position: absolute;
    top: -2px;
    left: 0px;
    height: 100%;
    width: 100%;
}
