#profile-page{
    width: 100%;
    display: flex;
    flex-direction: column;  
    position: relative;
    min-height: inherit;
    background-color: white;
}
#profile-content{
    position: relative;
    flex: 1;
    padding: 5px;
    display: flex;
      
}
#profile-content > .posts-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: fit-content;
    gap: 5px;
}
#profile-content > .no-data-found{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}