#profile-page{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;  
    position: relative;
}
#profile-content{
    padding: 10px;
    padding-right: 0px;
    position: relative;
    width: 100%;
    aspect-ratio: 3/1;
   
}
.posts-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
}
.no-data-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: normal;
    
    
}
.no-data-found span{
    margin: 10px 0px;
    font-size: 1.4rem;
}
.no-data-found img{
    height: 80px;
    width: 80px;
    
}
.no-data-found button{
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 23px;
}