.user-basic-info{
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    

}
.user-basic-info .profile-photo{
    height:3rem;
    width: 3rem;
    border-radius: 1.5rem;
    overflow: hidden;
    flex-shrink: 0;
}
.user-basic-info .username{
    font-size: 0.9rem;
    font-weight: 500;
    min-width: fit-content;
    color: black;
    margin-right: 0.3rem;
    
   
}
.user-basic-info .user-comment{
    color: rgb(100, 100, 100);
    font-size: 0.9rem;
    
    
}
.user-basic-info .user-comment::before{
    position: relative;
    content: ": ";
    color: black;
}
