.user-basic-info{
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    

}
.user-basic-info .profile-photo{
    height:3rem;
    width: 3rem;
    border-radius: 1.5rem;
    overflow: hidden;
    flex-shrink: 0;
}
.user-basic-info .username{
    font-size: 0.9rem;
    font-weight: 600;
    
    
   
}
.user-basic-info p{
    color:rgb(131, 131, 131);
    font-size: 0.75rem;
}
.user-basic-info .user-comment{
    color: rgb(100, 100, 100);
    font-size: 0.9rem;
    
    
}

