.post {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(233, 233, 233);
}
.post > section:not(.post-image){
  padding: 0px 10px;
}
.post:last-child {
  border: none;
}
.post > *{
  order: 2;
}
.post .post-header {
  display: flex;
  height: 60px;
  padding: 10px;
  align-items: center;
  gap: 10px;
  position: relative;
  order: 0;
}
.post .post-header .user-name {
  font-size: 0.9rem;
  font-weight: 500;
}

.post .post-header .post-profile {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.post .post-header .post-profile img {
  object-fit: contain;
}
.post .post-header .post-time {
  font-size: 0.8rem;
  color: rgb(133, 133, 133);
}
.post .post-header .more {
  font-size: 1.5rem;
  position: absolute;
  right: 10px;
  color: rgb(29, 29, 29);
}
.post .post-image {
  width: 100%;
  aspect-ratio: 2/1.5;
  display: flex;
  overflow: hidden;
  background-color: rgb(53, 53, 53);
}


.post .post-caption {
  padding: 10px;
  text-align: left;
  color: rgb(63, 63, 63);
  font-size: 0.9rem;
  margin: 10px 0px;
}
.post .post-caption button {
  color: var(--primary-color);
  font-size: 1rem;
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: 500;
}
.post .post-caption button:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
#post-comments-button{
  color: gray;
  font-weight: 400;
}





