#right-side-bar{
    flex: 0.8;
    height: 100vh;
    background-color: white;
    border-left: 1px solid rgb(194, 194, 194);
    min-width: 250px;
}
#right-side-bar input{
    display: block;
    height: 40px;
    width: 90%;
    margin: 20px auto;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    padding:0px 20px;
}
#user-list{
    width: 90%;
    margin: auto;
    min-height: calc(100vh - 100px);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    
}
.user-basic{
    width: 100%;
    height: 80px;
    padding: 0px 5%;
    justify-content: space-between;
}
.user-basic h6{
    font-size: 0.8rem;
    font-weight: 200;
    color: rgb(126, 126, 126);
}
.user-basic-image{
    height: 50px;
    width: 50px;
    background-color: aqua;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}
.user-basic-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.follow-btn{
    background-color: white;
    color: var(--primary-color);
    text-transform: capitalize;
    letter-spacing: normal;
    font-weight: bold;
}
@media only screen and (max-width: 768px){
    #right-side-bar{
        display: none;
    }
}