#edit-profile-modal{
   
    width: 400px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

#edit-profile-modal > div:first-child{
    outline: 1px solid lightgrey;
}
#edit-profile-modal div{
    text-align: center;
    width: 100%;    
}
#edit-profile-modal div button{
    display: block;
    height: 40px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
     background-color: white;
   
}
#edit-profile-modal div button:hover{
    background-color: whitesmoke;
    color: none;
    
}
#avatar-box{
    position: relative;
    

}
#avatar-box span{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 40px;
    width: 40px;
    display: flex;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
#avatars{
    
    overflow: hidden;
    transition: 0.1s ease-out;
    background-color: rgba(245, 245, 245, 0.315);
   
}
#selected-image-box{
    height: 100px;
    width: 100px!important;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px;
}
