
.caption p{
    font-size: 1rem;
}

.view-all-comments-btn{
    background-color: transparent;
    color: rgb(156, 156, 156);
    font-size: 0.9rem;
}
.caption{
    margin: 10px 0px;
    margin-bottom: 0px;
    font-size: 1.2rem;
}
.show-more{
    background-color: transparent;
    color: var(--primary-color);
    font-size: 0.9rem;
}