@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Poppins&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  
}
img{
  height: 100%;
  object-fit: cover;
}

body{
  background-color: #f0f2f5;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
:root{
  --primary-color:#1877f2;
}
button{
  border: none;
  cursor: pointer;
  letter-spacing: normal;
  background-color: transparent;
  color: inherit;
 
}
.all-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  color: var(--primary-color);
  text-decoration: none;
  text-transform: capitalize;
}
a:hover{
  text-decoration: underline;
}
li{
  list-style: none;
}
hr{
  height: 1px;
  background-color: rgb(221, 221, 221);
  border: none;
}
#emoji-picker{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 4;
}
.Toastify__toast-container {
  transition-duration: 0.2s!important; /* Adjust the duration to your desired value */
  transition-timing-function: ease-in-out; /* Adjust the easing function to your desired value */
}
.fixed-centered{
  position: fixed;
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.danger{
  color: red;
}

