@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #f0f2f5
}
:root{
  --primary-color:#1877f2;
}
button{
  border: none;
  cursor: pointer;
  letter-spacing: 0.5px;
}
.all-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  color: var(--primary-color);
  text-decoration: none;
  text-transform: capitalize;
}
a:hover{
  text-decoration: underline;
}
li{
  list-style: none;
}

hr{
  height: 1px;
  background-color: rgb(221, 221, 221);
  border: none;
}


