#main-app {
  height: 100vh;
  display: flex;
  background-color: whitesmoke;
  background-color: #f2f4f7;
}
#app-content {
  height: 100%;
  overflow: auto;
  flex: 1;
}
#app-content > .app-pages {
  min-height: 100vh;
  max-width: 1000px;
  margin: auto;
  display: flex;
  
}
@media only screen and (max-width: 768px) {
  #main-app {
    flex-direction: column;
  }
  #app-content > .app-pages {
    min-height: calc(100vh - 110px);
    
  }
}
