#profile-header{
    width: 100%;   
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.62rem;
}
#profile-header > section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#profile-header .profile-image{
    height: 10rem;
    width: 10rem;
    border-radius: 5rem;
    overflow: hidden;
}
#profile-header > section:first-child{
    justify-content: end;
    flex: 0.75;
}
#profile-header > section:last-child{
    padding: 2.5rem;
    justify-content: start;
    flex: 1.25;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-stretch: normal;
    
}
#profile-header > section:last-child >div:first-child{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex-wrap: wrap;
}

#profile-header > section:last-child >div:first-child button:hover{
    background-color: rgb(207, 207, 207);
}
#profile-header > section:last-child h3{
    font-weight: normal;
    font-size: 1.2rem;
}
#profile-header #posts-info{
    display: flex;
    margin: 1.25rem 0px;
    align-items: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    
}
#profile-header #posts-info > *{
    font-size: 1rem;

}
#profile-header #posts-info > * >strong{
    margin-right: 5px;
}
#profile-header #profile-bio{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}


#profile-bio > div{
    display: flex;
    margin: 20px 0px;
    align-items: center;
    margin-top: 6px;
    
}
#profile-bio > div:first-child{
    display: flex;
    justify-content: space-between;
}
#profile-bio h2{
    font-weight: 400;
    font-size: 1rem;
   
}
#profile-bio a{
    color: rgb(0, 89, 161);
    cursor: pointer;
    font-weight: bold;
    
}
#profile-bio a span{
    position: relative;
    top: 2px;
    right: 2px;
}
#profile-bio p{
    font-size: 0.9rem;
    font-family:sans-serif;
}


/* mobile-responsive */
@media only screen and (max-width: 480px){
    
    #profile-header{
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        
    }
    #profile-header .profile-image{
        height: 6.25rem;
        width: 6.25rem;
        border-radius: 3.12rem;
    }
    #profile-header > section:last-child{
        padding: 10px;
        
        
    }
    #profile-header #posts-info{
        display: flex;
        margin: 10px 0px;
        align-items: center;
        gap: 10px;
        
        
    }
    #profile-header #profile-bio{
       
        gap: 5px;
    }
    
    
    
}